# ==========================
# 📦 Datenbank-Konfiguration
# ==========================
DB_HOST=localhost
DB_PORT=                    # freien Port wählen
DB_USER=root
DB_PASSWORD=                # Sicheres Passwort setzen
DB_NAME=

# ==========================
# 📧 E-Mail-Konfiguration (SMTP)
# ==========================
EMAIL_USER=                # z. B. noreply@domain.de
EMAIL_PASSWORD=
EMAIL_SERVER=
EMAIL_PORT=              
EMAIL_SECURE=            
EMAIL_TLS_AUTHORIZED=

# Bestätigungs-Links (für E-Mails)
EMAIL_CONFIRMLINK=http://localhost:4200/confirm-booking/
EMAIL_BOOKINGSTATUS=http://localhost:4200/bookingstatus/

# ==========================
# 🔐 Tokens
# ==========================
JWT_SECRET=             